@model ProductVM

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit</h1>

<h4>Product</h4>
<hr />




<div class="card">
    <div class="card-body">

                <form asp-action="Edit" asp-route-id="@Model.Id">
                    <partial name="_form" model="Model"></partial>
                </form>


    </div>
</div>








<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
